---
import Card from "../components/Card.astro";
import Layout from "../layouts/BaseLayout.astro";
import { resources, resources_page_info } from "../lib/data";
---

<Layout
  title={resources_page_info.heading}
  summary={resources_page_info.overview}
  image_path={resources_page_info.media.path}
  image_description={resources_page_info.media.description}
>
  <section class="grid grid-cols-3 gap-16">
    {
      resources.map((resource) => (
        <Card
          key={resource.id}
          title={resource.title}
          overview={resource.overview}
        />
      ))
    }
  </section>
</Layout>
