---
import Card from "../../components/Card.astro";
import Layout from "../../layouts/BaseLayout.astro";
import { resources_page_info } from "../../lib/data";

import { getCollection } from "astro:content";
const allResources = await getCollection("resources");
---

<Layout
  title={resources_page_info.heading}
  summary={resources_page_info.overview}
  image_path={resources_page_info.media.path}
  image_description={resources_page_info.media.description}
>
  <section class="grid grid-cols-3 gap-16">
    {
      allResources.map((resource) => (
        <Card
          url_path="resources"
          title={resource.data.title}
          overview={resource.data.description}
        />
      ))
    }
  </section>
</Layout>
