---
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
import { resources_page_info } from "../../lib/data";

import { getCollection } from "astro:content";
const allResources = await getCollection("resources");
---

<Layout>
  <section class="grid items-center grid-cols-2 gap-16 mt-16">
    <div class="max-w-4xl col-span-2 lg:col-span-1 text-balance">
      <h1 class="landing-headline">
        {resources_page_info.heading}
      </h1>

      {
        resources_page_info.overview.map((paragraph: string) => (
          <p class="mt-4 text-base leading-7 text-black text-balance">
            {paragraph}
          </p>
        ))
      }
    </div>
    <div class="col-span-2 lg:col-span-1">
      <img
        src={resources_page_info.media.path}
        alt={resources_page_info.media.description}
        class="landing-media"
      />
    </div>
    <div class="col-span-2 p-6 bg-violet-300 rounded-xl">
      <p class="text-base leading-7">
        When clicking 3rd party links, you will be redirected to websites not
        affiliated to, but with the underlying support of The LifeLine Canada
        Foundation.
      </p>
    </div>
  </section>
  <section class="grid grid-cols-3 gap-16">
    {
      allResources.map((resource) => (
        <Card
          url_path="resources"
          title={resource.data.title}
          overview={resource.data.description}
        />
      ))
    }
  </section>
</Layout>
