---
const { title, overview, media } = Astro.props;
// overview can be an array of strings
---

<section class="grid items-start grid-cols-2 gap-y-8 gap-x-16">
  {title && <h1 class="landing-headline col-span-2 self-end">{title}</h1>}
  <div class="col-span-2 lg:col-span-1">
    {
      overview && Array.isArray(overview)
        ? overview.map((section, index) => (
            <p
              key={index}
              class="mt-4 text-base leading-7 text-black text-balance"
            >
              {section}
            </p>
          ))
        : overview && (
            <p class="mt-4 text-base leading-7 text-black text-balance">
              {overview}
            </p>
          )
    }
  </div>

  {
    media && (
      <div class="col-span-2 lg:col-span-1">
        <img
          src={media?.path}
          alt={media?.overview ?? title}
          class="landing-media"
        />
      </div>
    )
  }
</section>
