---
import Card from "../../components/Card.astro";
import Layout from "../../layouts/BaseLayout.astro";
import {
  pattern_interrupts_page_info,
  pattern_interruptions,
} from "../../lib/data";
---

<Layout
  title={pattern_interrupts_page_info.heading}
  summary={pattern_interrupts_page_info.overview}
  image_path={pattern_interrupts_page_info.media.path}
  image_description={pattern_interrupts_page_info.media.description}
>
  <section class="grid grid-cols-3 gap-16">
    {
      pattern_interruptions.map((patterns) => (
        <Card
          key={patterns.id}
          url_path="pattern-interrupts"
          title={patterns.title}
          overview={patterns.overview}
        />
      ))
    }
  </section>
</Layout>
