---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { title, summary, image_path, image_description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>The LifeLine Canada Foundation</title>
  </head>
  <body>
    <Navigation />
    <main class="wrapper min-h-dvh py-6">
      <section class="grid grid-cols-2 items-center gap-16 mt-16">
        <div class="col-span-2 lg:col-span-1 max-w-4xl text-balance">
          <h1
            class="text-black leading-loose text-4xl font-semibold tracking-tight text-balance lg:leading-[1.1] lg:font-semibold xl:text-5xl xl:tracking-tight"
          >
            {title}
          </h1>

          {
            summary.map((paragraph: string) => (
              <p class="text-black text-base text-balance sm:text-lg mt-4">
                {paragraph}
              </p>
            ))
          }
        </div>
        <div class="col-span-2 lg:col-span-1">
          <img
            src={image_path}
            alt={image_description}
            class="w-full aspect-video object-center object-cover rounded-xl"
          />
        </div>
        <div class="col-span-2 bg-violet-300 p-6 rounded-xl">
          <p class="text-base leading-7">
            When clicking 3rd party links, you will be redirected to websites
            not affiliated to, but with the underlying support of The LifeLine
            Canada Foundation.
          </p>
        </div>
      </section>
      <slot />
    </main>
    <Footer />
  </body>
</html>
